@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .logo {
    margin-right: 76px;
  }
  .adress-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts {
    font-size: 16px;
    line-height: 1.5;
  }
  .icons-place {
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

/* 
<picture> 
  <!-- Desktop screen -->

  <source
    media="(min-width: 1158px)"
    srcset="./images/gallery/img-1_lg.jpg 1x, ./images/gallery/img-1_lg@2x.jpg 2x"
    type="image/jpg"
  />
  <!-- Tablet screen -->

  <source
    media="(min-width: 768px)"
    srcset="./images/gallery/img-1_md.jpg 1x, ./images/gallery/img-1_md@2x.jpg 2x"
    type="image/jpg"
  />
  <!-- Mobile screen -->

  <source
    media="(max-width: 767px)"
    srcset="./images/gallery/img-1_sm.jpg 1x, ./images/gallery/img-1_sm@2x.jpg 2x"
    type="image/jpg"
  />
  <img
    class="card-img"
    src="./images/gallery/img-1_lg.jpg"
    alt="Ноутбук"
    width="450"
    height="294"
    loading="lazy"
  />
</picture> */
