@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .menu-open-btn {
    display: none;
  }
  .adress {
    display: block;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .logo {
    margin-right: 120px;
  }
  .head-link {
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .head-link:hover,
  .head-link:focus {
    color: #404bbf;
  }

  .active {
    color: #404bbf;
    position: relative;
  }

  .active::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .contacts {
    line-height: calc(14 / 12);
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 12px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }
}
